<div id="header">
  <header class="header">
    <div class="header-inner">
      <div class="logo">
        <a href="/">
          本棚
        </a>
      </div>
      <nav class="header-nav">
        <div class="header-nav-item">
          <%= link_to "新規作成", new_review_path, class:"header-button header-post" %>
        </div>
        <div class="header-nav-item">
          <%= link_to "レビューリスト", reviews_path, class:"header-button header-login" %>
        </div>
      </nav>
    </div>
  </header>
</div>


