<div id="header">
  <header class="header">
    <div class="header-inner">
      <div class="logo">
        <a href="/">
          <img src="/assets/ロゴ4.png" style="width: 100px;">
        </a>
      </div>
      <nav class="header-nav">
        <div class="header-nav-item">
          <%= link_to new_review_path, class:"header-button header-post" do %>
            <i class="fas fa-plus"></i> 新規作成
          <% end %>
        </div>
        <div class="header-nav-item">
          <%= link_to reviews_path, class:"header-button header-login" do %>
            <i class="fas fa-list"></i> レビューリスト
          <% end %>
        </div>
      </nav>
    </div>
  </header>
</div>


