<div id="main-container" class="main-container nav-effect-1">
  <div class="main clearfix">
    <!-- Main Section -->
    <div class="page-container">
      <div class="page-title category-title">
        <!-- <h1>Book Viewer</h1> -->
      </div>
      <section id="book_list">
        <div class="toolbar row">
          <div class="grid-shuffle">
            <ul id="grid" class="row">

              <li class="book-item small-12 medium-6 columns" data-groups='["fantasy","young"]' data-date-created='2007' data-title="Harry Potter and the Deathly Hallows" data-color='#b06010'>
                <div class="bk-img">
                  <div class="bk-wrapper">
                    <div class="bk-book bk-bookdefault">
                      <div class="bk-front">
                        <div class="bk-cover" style="background-image: url('http://interactivejoe.com/book-viewer/assets/images/bk_19-small.jpg')"></div>
                      </div>
                      <div class="bk-back"></div>
                      <div class="bk-left"></div>
                    </div>
                  </div>
                </div>
                <div class="item-details">
                  <h3 class="book-item_title"><%= book.title %></h3>
                  <p class="author"><%= book.author %> &bull; <%= book.published %></p>
                  <p><%= book.published %></p>
                  <a href="#" class="button ">Details</a>
                </div>

                <div class="overlay-details">
                  <a href="#" class="close-overlay-btn">Close</a>
                  <div class="overlay-image">
                    <img src="http://interactivejoe.com/book-viewer/assets/images/bk_19-large.jpg" alt="Book Cover">
                    <div class="back-color"></div>
                  </div>
                  <div class="overlay-desc activated">
                    <h2 class="overlay_title">Harry Potter and the Deathly Hallows</h2>
                    <p class="author">by J.K. Rowling</p>
                    <p class="published">2007</p>
                    <p class="synopsis">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam luctus convallis sem. Nunc sed tristique augue. Aenean at nulla vel lacus volutpat bibendum vitae ut nibh. Aliquam eu metus et purus rutrum malesuada. Aenean in auctor mauris,
                    non vulputate libero. Nullam auctor, purus ut cursus convallis, lectus tellus dignissim lectus, id tempor ipsum leo ut nulla. Vestibulum vitae elit erat.</p>
                    <a href="#" class="button preview">Preview</a>
                  </div>
                  <div class="overlay-preview">
                    <a href="#" class="back-preview-btn">Back</a>
                    <h4 class="preview-title">Preview</h4>
                    <div class="preview-content">
                      <h5>Chapter 1</h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam luctus convallis sem. Nunc sed tristique augue. Aenean at nulla vel lacus volutpat bibendum vitae ut nibh. Aliquam eu metus et purus rutrum malesuada. Aenean in auctor
                      mauris, non vulputate libero. Nullam auctor, purus ut cursus convallis, lectus tellus dignissim lectus, id tempor ipsum leo ut nulla. Vestibulum vitae elit erat.</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam luctus convallis sem. Nunc sed tristique augue. Aenean at nulla vel lacus volutpat bibendum vitae ut nibh. Aliquam eu metus et purus rutrum malesuada. Aenean in auctor
                      mauris, non vulputate libero. Nullam auctor, purus ut cursus convallis, lectus tellus dignissim lectus, id tempor ipsum leo ut nulla. Vestibulum vitae elit erat.</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam luctus convallis sem. Nunc sed tristique augue. Aenean at nulla vel lacus volutpat bibendum vitae ut nibh. Aliquam eu metus et purus rutrum malesuada. Aenean in auctor
                      mauris, non vulputate libero. Nullam auctor, purus ut cursus convallis, lectus tellus dignissim lectus, id tempor ipsum leo ut nulla. Vestibulum vitae elit erat.<br>&nbsp;<br>&nbsp;</p>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
      </section>
    </div>
  </div>
