// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// pc用
@media only screen and (min-width: 640px) {
  a {

  }
  a:hover {
    background-color: none !important;
  }
  // header
  #header {
    padding: 30px;
    .header {
      box-sizing: border-box;
      width: 100%;
    }

    .header-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1024px;
      height: 60px;
      padding: 0 0.8em;
      margin: 0 auto;
      font-size: 1.2em;
    }

    .header-nav {
      display: flex;
      align-items: center;
    }

    .header-nav-item {
      display: flex;
      align-items: center;
      margin-left: 16px;
    }

    .logo a {
      width: 70px;
      text-decoration: none;
      font-size: 22px;
    }

    .header-button {
      box-sizing: border-box;
      display: inline-block;
      padding: 0.5em 1.2em;
      font-size: 12px;
      text-decoration: none;
      cursor: pointer;
      user-select: none;
    }

    .header-login {
      color: #4e4e4e;
    }

    .header-login:hover {
      color: #afafaf;
    }

    .header-post {
      color: #404040;
      border: 1px solid #ccc;
      border-radius: 4px;
      background: #f1e767;
      background: -webkit-gradient(linear, left top, left bottom, from(#fdfbfb), to(#ebedee));
      background: -webkit-linear-gradient(top, #fdfbfb 0%, #ebedee 100%);
      background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
      -webkit-box-shadow: inset 1px 1px 1px #fff;
      box-shadow: inset 1px 1px 1px #fff;
    }

    .header-post:hover {
      border: 1px #d6d6d6 solid;
      background: -webkit-gradient(linear, left bottom, left top, from(#fdfbfb), to(#ebedee));
      background: -webkit-linear-gradient(bottom, #fdfbfb 0%, #ebedee 100%);
      background: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
    }

    @media screen and (max-width: 480px) {
      .header-post {
        display: none;
      }
    }
  }

  //footer
  #footer06 {
  }

  // review/top
  .pc {
    display: block;
  }
  .sp {
    display: none;
  }
  body {
    background:#f8fcff;
    margin: 0;
  }
  #main{
    h2 {
      margin: 0 auto;
      text-align: center;
      padding: 100px;
      margin-top: 100px;
      color: #520d0d;
      font-family: serif;
    }
    .books-block {
      width: 60%;
      margin: 0 auto;
      margin-top: 200px;
      margin-bottom: 200px;
      display: table;
    }
    .wrap-sample-book {
      padding: 60px 0 80px;
      width: 50%;
      float:left;
    }
    #mainVisual {
      margin-bottom: 140px;
      background-color: #f7efe9;
      text-align: center;
      .album {
        position:relative;
        img {
          width: 100%;
          animation-name: album;
          -webkit-animation-name: album;
          animation-duration: 14s;
          -webkit-animation-duration: 14s;
          animation-iteration-count: infinite;
          -webkit-animation-iteration-count: infinite;
          opacity: 0;
        }
        .img1 {
          display: block;
          margin: 0 auto;
        }
        .img2 {
          animation-delay:7s;
          -webkit-animation-delay:7s;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }

    .cats-block {
      background:#dbeeff;
      .each-cat {
        margin:10px;
        display: inline-block;
      }
    }
    .each-book {
      margin: 20px auto;
      padding: 16px;
      background: aliceblue;
      text-align: center;
      list-style: none;
      max-width: 50%;
      border: solid 2px #00dcff;
      .each-book-title {
        font-size: 18px;
      }
      .each-book-author {
        font-size: 16px;
      }
      .each-book-published {
        font-size: 12px;
      }
    }

    .bg-img {
      background-image: url("/assets/lemon-5435158_640.jpg");
      background-repeat: repeat-x;
    }
  }
  @keyframes album {
    0% {
      opacity: 0;
    }

    12.5% {
      opacity: 1;
    }

    37.5% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  @-webkit-keyframes album {
    0% {
      opacity: 0;
    }

    12.5% {
      opacity: 1;
    }

    37.5% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  // index
  #index_review {
    margin: 100px;
    a {
      padding-left: 90px;
    }
    h1 {
      padding-left: 100px;
    }
    thead, tbody, tfoot, tr, td, th {
      padding: 20px;
    }
    table {
      padding: 90px;
      margin-top: 50px;
      thead{
        border-bottom: 5px solid #eee;
      }
      tr:nth-child(even) {
        background-color: #eee
      }
      th {
        max-width: 120px;
        min-width: 90px;
        text-align: left;
      }
      td {
        max-width: 120px;
        min-width: 90px;
      }
    }
  }

  //show
  #show_review {
    margin:100px;
    width: 50%;
    .box{
      display: table-cell;
      vertical-align: middle;
      padding: 30px;
      img {
        min-width: 120px;
      }
    }
    .boxContainer{
      display: table;
      table-layout: fixed;
    }
    .md-content {
      color: #696969;
      margin: 2em 0;
      font-weight: bold;
      padding: 0.3em 1em 2em 1em;
      box-shadow:0px 0px 5px rgba(140,140,140,.6);
      .md-inner {
        h1 {
          padding: 0.25em 0.5em;
          text-shadow: 0 0 5px white;
          border-left: solid 7px #010079;
          background: -webkit-repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
          background: repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
        }

        h2 {
          color: #494949;
          background: linear-gradient(transparent 70%, #a7d6ff 70%);
        }

        h3 {
          color: #494949;
          border-bottom: solid 3px #cce4ff;
          position: relative;
        }

        h3:after {
          position: absolute;
          content: " ";
          display: block;
          border-bottom: solid 3px #5472cd;
          bottom: -3px;
          width: 20%;
        }

        body {
          font-family: Helvetica, arial, sans-serif;
          font-size: 14px;
          line-height: 1.6;
          padding-top: 10px;
          padding-bottom: 10px;
          background-color: white;
        padding: 30px; }

        body > *:first-child {
        margin-top: 0 !important; }
        body > *:last-child {
        margin-bottom: 0 !important; }

        a {
        color: #4183C4; }
        a.absent {
        color: #cc0000; }
        a.anchor {
          display: block;
          padding-left: 30px;
          margin-left: -30px;
          cursor: pointer;
          position: absolute;
          top: 0;
          left: 0;
        bottom: 0; }

        h1, h2, h3, h4, h5, h6 {
          font-weight: bold;
          -webkit-font-smoothing: antialiased;
          cursor: text;
        position: relative; }

        h1:hover a.anchor, h2:hover a.anchor, h3:hover a.anchor, h4:hover a.anchor, h5:hover a.anchor, h6:hover a.anchor {
          background: url("../../images/modules/styleguide/para.png") no-repeat 10px center;
        text-decoration: none; }

        h1 tt, h1 code {
        font-size: inherit; }

        h2 tt, h2 code {
        font-size: inherit; }

        h3 tt, h3 code {
        font-size: inherit; }

        h4 tt, h4 code {
        font-size: inherit; }

        h5 tt, h5 code {
        font-size: inherit; }

        h6 tt, h6 code {
        font-size: inherit; }

        h1 {
          font-size: 28px;
        color: black; }

        h3 {
        font-size: 18px; }

        h4 {
        font-size: 16px; }

        h5 {
        font-size: 14px; }

        h6 {
          color: #777777;
        font-size: 14px; }

        p, blockquote, ul, ol, dl, li, table, pre {
        margin: 15px 0; }

        hr {
          background: transparent url("../../images/modules/pulls/dirty-shade.png") repeat-x 0 0;
          border: 0 none;
          color: #cccccc;
          height: 4px;
        padding: 0; }

        li p.first {
        display: inline-block; }

        ul, ol {
        padding-left: 30px; }

        ul :first-child, ol :first-child {
        margin-top: 0; }

        ul :last-child, ol :last-child {
        margin-bottom: 0; }

        dl {
        padding: 0; }
        dl dt {
          font-size: 14px;
          font-weight: bold;
          font-style: italic;
          padding: 0;
        margin: 15px 0 5px; }
        dl dt:first-child {
        padding: 0; }
        dl dt > :first-child {
        margin-top: 0; }
        dl dt > :last-child {
        margin-bottom: 0; }
        dl dd {
          margin: 0 0 15px;
        padding: 0 15px; }
        dl dd > :first-child {
        margin-top: 0; }
        dl dd > :last-child {
        margin-bottom: 0; }

        blockquote {
          border-left: 4px solid #dddddd;
          padding: 0 15px;
        color: #777777; }
        blockquote > :first-child {
        margin-top: 0; }
        blockquote > :last-child {
        margin-bottom: 0; }

        table {
        padding: 0; }
        table tr {
          border-top: 1px solid #cccccc;
          background-color: white;
          margin: 0;
        padding: 0; }
        table tr:nth-child(2n) {
        background-color: #f8f8f8; }
        table tr th {
          font-weight: bold;
          border: 1px solid #cccccc;
          text-align: left;
          margin: 0;
        padding: 6px 13px; }
        table tr td {
          border: 1px solid #cccccc;
          text-align: left;
          margin: 0;
        padding: 6px 13px; }
        table tr th :first-child, table tr td :first-child {
        margin-top: 0; }
        table tr th :last-child, table tr td :last-child {
        margin-bottom: 0; }

        img {
        max-width: 100%; }

        span.frame {
          display: block;
        overflow: hidden; }
        span.frame > span {
          border: 1px solid #dddddd;
          display: block;
          float: left;
          overflow: hidden;
          margin: 13px 0 0;
          padding: 7px;
        width: auto; }
        span.frame span img {
          display: block;
        float: left; }
        span.frame span span {
          clear: both;
          color: #333333;
          display: block;
        padding: 5px 0 0; }
        span.align-center {
          display: block;
          overflow: hidden;
        clear: both; }
        span.align-center > span {
          display: block;
          overflow: hidden;
          margin: 13px auto 0;
        text-align: center; }
        span.align-center span img {
          margin: 0 auto;
        text-align: center; }
        span.align-right {
          display: block;
          overflow: hidden;
        clear: both; }
        span.align-right > span {
          display: block;
          overflow: hidden;
          margin: 13px 0 0;
        text-align: right; }
        span.align-right span img {
          margin: 0;
        text-align: right; }
        span.float-left {
          display: block;
          margin-right: 13px;
          overflow: hidden;
        float: left; }
        span.float-left span {
        margin: 13px 0 0; }
        span.float-right {
          display: block;
          margin-left: 13px;
          overflow: hidden;
        float: right; }
        span.float-right > span {
          display: block;
          overflow: hidden;
          margin: 13px auto 0;
        text-align: right; }

        code, tt {
          margin: 0 2px;
          padding: 0 5px;
          white-space: nowrap;
          border: 1px solid #eaeaea;
          background-color: #f8f8f8;
        border-radius: 3px; }

        pre code {
          margin: 0;
          padding: 0;
          white-space: pre;
          border: none;
        background: transparent; }

        .highlight pre {
          background-color: #f8f8f8;
          border: 1px solid #cccccc;
          font-size: 13px;
          line-height: 19px;
          overflow: auto;
          padding: 6px 10px;
        border-radius: 3px; }

        pre {
          background-color: #f8f8f8;
          border: 1px solid #cccccc;
          font-size: 13px;
          line-height: 19px;
          overflow: auto;
          padding: 6px 10px;
        border-radius: 3px; }
        pre code, pre tt {
          background-color: transparent;
        border: none; }
      }
    }
  }

  //new
  #new_review {
    margin: 100px auto;
    width: 60%;
    .field {
      position: relative;
      margin-top: 60px;
      textarea {
        width: 100%;
        height: 300px;
        margin-bottom: 40px;
      }
      i {
        position: absolute;
        top: 0;
        left: 0;
        padding: 9px 5px;
        transition: 0.3s;
        color: #aaaaaa;
      }
    }
    .uline {
      position: relative;
      width: 40%;
      input[type='text'], textarea {
        font: 15px/24px sans-serif;
        box-sizing: border-box;
        width: 100%;
        padding: 0.3em;
        padding-left: 40px;
        letter-spacing: 1px;
        border: 0;
      }
      input[type='text']:focus {
        outline: none;
      }
      input[type='text']:focus::after {
        outline: none;
      }
      i {
        position: absolute;
        top: 0;
        left: 0;
        padding: 9px 5px;
        transition: 0.3s;
        color: #aaaaaa;
      }
      &::after {
        display: block;
        width: 100%;
        height: 4px;
        margin-top: -1px;
        content: '';
        border-width: 0 1px 1px 1px;
        border-style: solid;
        border-color: #da3c41;
      }
    }
  }

  //edit

  #edit_review {
    margin: 100px;
    .field {
      position: relative;
      width: 27.33%;
      margin-top: 60px;
      i {
        position: absolute;
        top: 0;
        left: 0;
        padding: 9px 5px;
        transition: 0.3s;
        color: #aaaaaa;
      }
    }
    .uline {
      position: relative;
      width: 27.33%;
      input[type='text'], textarea {
        font: 15px/24px sans-serif;
        box-sizing: border-box;
        width: 100%;
        padding: 0.3em;
        padding-left: 40px;
        letter-spacing: 1px;
        border: 0;
      }
      input[type='text']:focus {
        outline: none;
      }
      input[type='text']:focus::after {
        outline: none;
      }
      i {
        position: absolute;
        top: 0;
        left: 0;
        padding: 9px 5px;
        transition: 0.3s;
        color: #aaaaaa;
      }
      &::after {
        display: block;
        width: 100%;
        height: 4px;
        margin-top: -1px;
        content: '';
        border-width: 0 1px 1px 1px;
        border-style: solid;
        border-color: #da3c41;
      }
    }
  }
}


// sp用
@media only screen and (max-width: 640px) {
  .pc {
    display: none;
  }
  .sp {
    display: inline-block;;
    .drop-menu-icon {
      font-size: 60px;
    }
    header {
      position: relative;
      width: 100%;
      margin: 0 auto;
      h1 {
        font-size: 50px;
        margin: 20px 30px;
        padding: 100px 100px 140px;
      }
      nav {
        position: absolute;
        bottom: 45%;
        right: 60px;
        #toggle {
          display: none;
          cursor: pointer;
        }
        #menu {
          display: none;
        }
        #toggle:checked + #menu {
          display: block;
        }
        ul {
          li {
            margin-left: 50px;
            display: inline;
            float: none;
            border-bottom: none;
            text-align: right;
            a {
              display: inline;
              font-size: 14px;
              font-weight: 400;
              letter-spacing: 0.1em;
            }
          }
        }
      }
    }
    #main{
      #mainVisual {
        margin-bottom: 80px;
        background-color: #e9f1f7;
        text-align: center;
        .sp-img {
          display: block;
          img {
            max-width: 960px;
            height: auto;
          }
        }
      }
      .cats-block {
        background:#dbeeff;
        .each-cat {
          margin:10px;
          display: inline-block;
        }
      }
      .each-book {
        margin: 20px auto;
        padding: 16px;
        background: aliceblue;
        text-align: center;
        list-style: none;
        max-width: 50%;
        border: solid 2px #00dcff;
        .each-book-title {
          font-size: 18px;
        }
        .each-book-author {
          font-size: 16px;
        }
        .each-book-published {
          font-size: 12px;
        }
      }

      .bg-img {
        background-image: url("/assets/lemon-5435158_640.jpg");
        background-repeat: repeat-x;
      }
    }
  }
  body {
    background:#f8fcff;
    margin: 0;
  }
}

